@font-face {
  font-family: 'Virgil';
  src: url("/fonts/Virgil.woff2");
  font-display: swap;
}

@font-face {
  font-family: 'NotoEmoji';
  src: url("/fonts/NotoEmoji.ttf");
  font-display: swap;
  unicode-range: U+1F300-1F5FF, U+1F600-1F64F, U+1F680-1F6FF, U+2600-26FF;
}

.notoEmoji {
  font-family: 'NotoEmoji';
}

body {
  color: #222;
  font-family: 'NotoEmoji', Helvetica, Arial, sans-serif;
  max-width: 768px;
  font-size: 13px;
  margin: 5em;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0,5em;
}

mark {
  line-height: 2em;
  margin: 0 -0.1em;
  padding: 0.2em 0.4em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    rgba(255, 225, 0, 0.1),
    rgba(255, 225, 0, 0.7) 4%,
    rgba(255, 225, 0, 0.3)
  ) !important;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.rvr {
  direction: rtl;
  unicode-bidi: bidi-override;
  text-align: left;
}

header {
  border-bottom: 1px #ccc solid;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.header * {
  margin: 1px 0;
  font-weight: normal;
}

.header b {
  font-weight: bold;
}
.postits {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.postits > div {
  width: 50%;
  max-width: 230px;
  min-width: 180px;
  margin: 10px 10px 0 0 ;
  padding: 10px;
  flex: 1;
}

.postit {
  font-family: "Virgil";
  color: rgb(30, 30, 30);
  position:relative;   
  border:1px solid #E8E8E8;  
  border-bottom-right-radius: 60px 5px;
  display:inline-block;    
  background: #ffff88; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffff88), color-stop(82%,#ffff88), color-stop(82%,#ffff88), color-stop(100%,#ffffc6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* IE10+ */
  background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.postit::after {     
  content: "";
  position:absolute;
  z-index:-100;
  right:-0px; bottom:20px;
  width:95%;
  height: 25px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow:2px 15px 5px rgba(0, 0, 0, 0.40);
  -moz-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -o-transform: matrix(-1, -0.1, 0, 1, 0, 0);
  -ms-transform: matrix(-1, -0.1, 0, 1, 0, 0);
      transform: matrix(-1, -0.1, 0, 1, 0, 0);
}

.postit h1, .postit h2, .postit h3, .postit h4, .postit h5, .postit h6 {
  margin: 0;
  color: rgb(30, 30, 30);
}

#contact {
  line-height: 1;
}
#contact h4 {
  padding-bottom: 1em;
  transform: rotate(-3deg);
}

#contact p, #languages p {
  font-size: 1.2em;
}

#contact .tel {
  transform: rotate(1deg);
}

.tel span:last-child:after {
  content: "+";
}


#contact .mail {
  transform: rotate(2deg);
}

.mail #tl:after {
  content: ".";
}

.mail #dd:after {
  content: "@";
}

#contact .linkedin {
  transform: rotate(1deg);
}

#years-of-experience h1 {
  text-align: center;
  font-family: inherit; 
  padding: 30px 0 5px 0;
  transform: scale(2);
}

#languages > h4 {
  padding: 0.75em 0;
  line-height: 2em;
  text-align: center;
  transform: rotate(-8deg);
  text-decoration: underline;
}

#languages p{
  width: 100%;
  text-align: right;
}

#languages svg {
  float: left;
  transform: rotate(17deg);
  width: 64pt;
  height: 64pt;
}

#career * {
  margin: 0;
}

footer {
  width: 100vw;
  margin-top: 2em;
  padding-top: 2em;
  text-align: center;
  color: #a8a8a8;
}

footer a {
  color: #919090;
}